---
- name: Read /etc/os-release
  slurp:
    src: /etc/os-release
  register: os_release_content

- name: Include Qubes validation if Debian
  include_tasks: validate_qubes_environment.yml
  when:
    - securedrop_validate_environment
    - '"NAME=\"Debian GNU/Linux\"" in (os_release_content.content | b64decode)'

- name: Include Tails validation if Tails
  include_tasks: validate_tails_environment.yml
  when:
    - securedrop_validate_environment
    - '"NAME=\"Tails\"" in (os_release_content.content | b64decode)'

- name: Fail if not Debian or Tails
  assert:
    that:
      - '"NAME=\"Debian GNU/Linux\"" in (os_release_content.content | b64decode) or "NAME=\"Tails\"" in (os_release_content.content | b64decode)'
    fail_msg: "SecureDrop requires Tails or a Debian qube for admin environments."
  when: securedrop_validate_environment
